# Database configuration
DB_HOST=REPLACE_ME
DB_PORT=REPLACE_ME
DB_USER=REPLACE_ME
DB_PASSWORD=REPLACE_ME
DB_NAME=REPLACE_ME

# API configuration
PORT=8000

# Firebase configuration
FIREBASE_API_KEY=REPLACE_ME
FIREBASE_AUTH_DOMAIN=REPLACE_ME
FIREBASE_PROJECT_ID=REPLACE_ME
FIREBASE_STORAGE_BUCKET=REPLACE_ME
FIREBASE_MESSAGING_SENDER_ID=REPLACE_ME
FIREBASE_APP_ID=REPLACE_ME

#mailmailer configuration
EMAIL_HOST=REPLACE_ME
EMAIL_PORT=REPLACE_ME
EMAIL_USER=REPLACE_ME
EMAIL_PASSWORD=REPLACE_ME
EMAIL_SENDER_ADDRESS=REPLACE_ME

#Frontend URL
FRONTEND_URL=REPLACE_ME